
<!-- BEGIN CSS -->
<style>
* {
    box-sizing: border-box;
}

body {
	background-image: url(../images/portfolio-background.png);
}

h1 {
	background-color: #790d0d;
	color: white;
	font-size: 36px;
	font-family: 'Georgia', Times, Times New Roman, serif;.;
	font-weight: bold;
}

h2 {
	color: #790d0d;
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;.;
	font-weight: bold;

}

h3 {
	color: #790d0d;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;.;
	font-weight: bold;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 32px;
}

li {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

a {
	color: #777777;
	text-decoration: none;

}

a:link { 
	color: #790d0d; 
}

a:hover {
 	color: #777777; 
}

a.one:hover {
	color:white;
}

nav a:

nav a:last-child:after {
  content:"";
  display: none;
}

img {
	float: left;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 3px;
}

footer {
	clear: both;
	position: relative;
	width:100%;
	left:-10px;
	top: 100px;
	height: 50px;
    padding: 10px;
    background-color: #666666;
    text-align: center;
    border-style: solid;
    border-color: #790d0d;
    border-width: 8px 0px 0px 0px;
    color: #d5d2d2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
}

section {
    height: 102px;
    margin: -10px;
    background-color: white;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 0px 3px 0px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ccc;
}


form {
	padding-top: 20px;

}

label {
	display: inline-block;
	color: #777777;
	margin-top: 15px;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

input[type=submit] {
    background-color: #790d0d;
    border: none;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size:14px;
    box-sizing: border-box;
}

textarea {
	width: 100%;
	height:200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #dfdfdf;
    border-width: 1px;
    font-size:14px;
}

form {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
}


span {
	position: absolute;
	text-align:center;
	font-size:24px;
	background-color: #790d0d;
	color:white;
    width: 250px;
    padding: 25px;
    margin: 25px;

}

span.hangman {
	right:350px;
	top:230px;
	
}

span.game {
	right:25px;
	top:230px;
}

span.trivia {
	right:350px;
	top:497px;
}

span.widget {
	right:25px;
	top:497px;
}

span.rps {
	right:350px;
	bottom:42px;
}

.logo {
	float: left;
	position: absolute;
    background-color: #790d0d;
    color: : white;
    padding: 1px 2px 0px 1px;
    margin-left: 160px;
    width: 17%;
    text-align: center;
    font-size: 18px;
    height:100px;
}

.logo a {}

.menu {
	float:right;
	display: block;
	position: absolute;
	width: 400px;
    right:150px;
    top: 15px;
	padding: 10px;
	text-align:center;
    font-size: 18px;
}

.menu ul {
    list-style-type: none;
    padding: 5px;

}

.menu li {
	display: inline;
    text-align: center;
    color: #ffffff;
    padding: 1px

}

.menu a:after {
  color: #777777;
  content: "|";
  margin-left: 8px;
}

.menu > ul > li:last-child > a:after {
  content:"";
}

.menu a:hover {
	color:#790d0d;
}


.mainsection {
	float: left;
	position: relative;
	top: 50px;
    left: 150px;
    top:50px;
    width: 650px;
    padding: 20px 25px 25px 25px;
    background-color: white;
    border-style: solid;
    border-color: #dddddd;
    border-width: 3px;
}

.sidesection {
	position: relative;
	top: 50px;
	left: 200px;
	float: left;
    padding: 20px 25px 35px 25px;
    width: 270px;
    height: 160px;
    background-color: white;
   	border-style: solid;
    border-color: #dddddd;
    border-width: 3px;
}

.socialicons {
	position: relative;
	text-align: center;
	float: left;
	overflow: auto;
	padding: 15px 0px 0px 0px;
}

.portfolioicons {
	float: left;
	padding: 30px 0px 30px 0px;

}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


</style>